<html>
    <body>
        
        <div class="login-container">
            <form (ngSubmit)="onSubmit()">

                <input type="text" placeholder="Usuario" name="user" required [ngModel]="credecialesLogin.user">
                <input type="password" placeholder="Contraseña" name="pass" required [ngModel]="credecialesLogin.pass">

                <button type="submit">Iniciar</button>

                <div class="link">
                    <a href="/recovery">Olvidé mi contraseña</a>
                </div>
                <div class="link">
                    <a href="/help">Necesito ayuda</a>
                </div>
            </form>
        </div>

    </body>
</html>